/* VisualizarPage.css */

.visualizacion-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e3e8f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


.register-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Color de ejemplo */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #45a049;
}

.visualizacion-container h2 {
    color: #5a67d8;
    text-align: center;
    margin-bottom: 20px;
}

.visualizacion-container ul {
    list-style-type: none;
    padding: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.visualizacion-container li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.visualizacion-container li:last-child {
    border-bottom: none;
}
